/** {
  border: orange 1px dotted;
}*/

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana;
  margin: 15px;
  background-color: #D9D9FF;
  padding: 0;
  margin: 0;
}

header {
  background-color: #CCCCCC;
  padding: 0 10px;
  height: 150px;
}

nav {
  float: right;
}

main {
  margin: 10px;
}

img {
  max-width:100%;
}

h1 {
  clear: both;
  display: block;
}

h2 {
  float:left;
  margin: 5px;
}

h3 {
  clear: both;
  float:left;
  margin: 2px;
}

.projects {
  background-color: #fcf4e4;
}

.title {
  /*clear: both;*/
  display: block;
}

.abstract {
  clear: both;
  margin: 0;
  font-size: 14px;
}

address {
  font-size: 13px;
}

.timeCalc {
  margin: 0;
  font-size: 13px;
}

footer {
  font-size: 13px;
}
