
.icon-menu {
  float:right;
  margin:5px;
  font-size: 40px;
  display: inline-block;
}

header section, header nav {
  display: inline-block;

}

header section {
  margin-top: 40px;
}

.main-nav:hover ul {
  display: block;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
  /*float: right;*/
}

.head-color {
  background-color: #CCCCCC;
}

time {
  font-size: 13px;
}

@media screen and (min-width: 760px){
  .icon-menu {
    display: none;

  }
  .main-nav ul {
    display:block;
    float:right;
    margin-top: 70px;
  }

  .main-nav li {
    display:inline;
    margin-left: 40px;
  }
}

.project-article {
  margin-bottom: 10px;
}
